$base-font-size: 16px;

$large-screen: 3840px;
$xxxlg: 2560px;
$xxlg: 1920px;
$xlg: 1440px;
$lg: 1024px;
$md: 728px;
$sm: 600px;
$xsm: 375px;
$xxsm: 300px;

$white: #fff;
$white-light: #ffffff73;
$sub-white: #dbdbdb;
$border-color: #ffffff99;
$background: linear-gradient(
  to right,
  #f0362d 0%,
  0.15223426595056683%,
  #f85941 1.979045383632183%,
  8.323632087558508%,
  #f84a37 14.668218791484833%,
  22.235157340765%,
  #f74531 29.802095890045166%,
  41.676369309425354%,
  #f73a30 53.55064272880554%,
  64.08614814281464%,
  #eb2526 74.62165355682373%,
  81.83934688568115%,
  #df1d21 89.05704021453857%,
  94.52852010726929%,
  #c9201b 100%
);

// $sm: 480px;
// $small-device:500px;
// $xxs:320px;
// $xls:600px;
// $xlsh:500px;
// $xms:375px;
// $md:780px;
// $lg:1024px;
// $xlg:1440px;
// $xxlg:5000px;
