@import "./../../../sass/variables";
@import "./../../../sass/mixins";
@import "./../../../sass/functions";
@import "./../../../sass/fonts.scss";

#header {
  :global {
    @include flex();
    margin: auto;
    border-bottom: 1px $border-color solid;
    padding-bottom: 10px;
    .nav-links {
      @include flex($gap: pxToVw(70), $width: fit-content);
      .single-link-selected {
        text-decoration: underline;
        text-decoration-thickness: auto;
        text-decoration-thickness: 7px;
        text-underline-offset: 13px;
      }
      .single-link {
        @include scaleFont(17);
        font-family: $poppins-light;
        line-height: 1;
        color: $sub-white;
        &:hover {
          text-decoration: underline;
          text-decoration-thickness: auto;
          text-decoration-thickness: 7px;
          text-underline-offset: 13px;
        }
      }
    }

    .hamburger-menu {
      img {
        height: pxToVh(20);
      }
    }
    @media screen and (max-width: $sm) {
      .nav-links {
        display: none;
      }
    }
  }
}
