@import "./../../../sass/variables";
@import "./../../../sass/mixins";
@import "./../../../sass/functions";
@import "./../../../sass/fonts.scss";

#footer {
  :global {
    @include flex($align: center);
    flex-wrap: wrap;
    .carousel-counter-container {
      border-bottom: 2px solid $white-light;
      //   border-image: linear-gradient(to right, $white 30vw, $white-light 30vw) 1;
      flex-grow: 4;
      .carousel-counter-line {
        width: fit-content;
        .carousel-counter {
          @include flex(
            $justify: center,
            $gap: pxToVw(32),
            $width: fit-content
          );
          padding-bottom: 8px;
          .selected-bottom-indicator {
            font-family: $open-sans-bold;
            font-size: fontScale(24);
            color: $sub-white;
            line-height: 1;
            margin: 20px 0px 5px 0px;
          }

          .bottom-indicator {
            font-family: $open-sans-regular;
            font-size: fontScale(16);
            color: $sub-white;
            line-height: 1;
            margin: 0;
          }
        }
        .counter-line {
          background-color: white;
          border: none;
          height: 2px;
          margin: 0px 0px -2px 0px;
        }
      }
    }

    .carousel-nav {
      flex-grow: 1;
      @include flex($justify: center, $width: fit-content, $gap: pxToVw(16));
      .carousel-nav-icon {
        img {
          height: pxToVh(45);
          width: auto;
        }
      }
    }
    .social-icons {
      flex-grow: 0;
      @include flex($justify: flex-end, $width: fit-content, $gap: pxToVw(30));
      img {
        width: pxToVh(60);
      }
    }
    @media screen and (max-width: $sm) {
      .carousel-counter-container {
        width: 100vw;
        margin-bottom: 20px;
        .carousel-counter {
          gap: pxToEm(107);
        }
        .selected-bottom-indicator {
          font-size: fontScale(20);
        }
        .bottom-indicator {
          font-size: fontScale(10);
        }
      }
      .carousel-nav {
        justify-content: start;
        gap: 5.83vw;
        .carousel-nav-icon {
          img {
            width: 45px;
            height: auto;
          }
        }
      }
      .social-icons {
        gap: 0;
        justify-content: space-between;
        flex-grow: 1;
        img {
          width: 30px;
          height: auto;
        }
      }
    }
  }
}
