* {
  color: #fff;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right,
    #f0362d 0%,
    0.152234266%,
    #f85941 1.9790453836%,
    8.3236320876%,
    #f84a37 14.6682187915%,
    22.2351573408%,
    #f74531 29.80209589%,
    41.6763693094%,
    #f73a30 53.5506427288%,
    64.0861481428%,
    #eb2526 74.6216535568%,
    81.8393468857%,
    #df1d21 89.0570402145%,
    94.5285201073%,
    #c9201b 100%
  );
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
  margin: auto;
}
